/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    background: linear-gradient(to right, #000000, #333333);
    color: white;
    padding: 10px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.header nav ul li {
    display: inline;
    margin: 0 15px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.produtos, .sobre, .depoimentos, .rodape {
    padding: 50px 0;
    text-align: center;
}

.produtos .lista-produtos {
    display: flex;
    justify-content: space-around;
}

.item-produtos {
    width: 30%;
}

.item-produtos img {
    max-width: 100%;
}

.whatsapp-link {
    color: #25D366;
    text-decoration: none;
    font-size: 1.2em;
}
.whatsapp-link i {
    margin-right: 8px;
}

.fotos .fotos-loja {
    display: flex;
    justify-content: space-evenly;
}

.photo-item {
    width: 30%;
}

.item-foto img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: transform 0.2s;
}

.item-foto img:hover {
    transform: scale(1.05);
}

.rodape {
    background-color: #f1f1f1;
    padding: 20px 0;
}

.rodape p {
    margin: 5px 0;
}
